@using Heardit.Models;
@model List<Tag>

@foreach (var item in Model)
{
        <div class="search-tag" id="@item.Id" >
            <div class="search-tag-detail">@item.Name 
                 <span class="search-tag-close" >
                     <i class="fa fa-times "></i>
                 </span> 
            </div>
    </div>

}