html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    --main-bg-color: #0e0e0e;
    --main-font-color: #b9b5b5;
    --main-highlight-color: #fff;
    --main-link-active-color: #fff;
    --main-border-color: #8080804d;
    --activity-bg-color: #000;
    --main-bg-color-dark: #202020;
    --spotify: #1DB954;
    --spotify-highlight: #28a745;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


nav {
    margin: .5rem;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem var(--main-border-color);
}

i {
    color: var(--main-font-color);
}

.btn-outline-secondary:hover {
    background: none;
}

.btn-outline-secondary:hover i {
    color: dimgray;

}


i.fa-play-circle {
    font-size: 21px;

}

i.fa-play-circle:hover {
    transform: scale(1.2);

}

/* pillbox search bar*/
.ms-n5 {
    margin-left: -2.6rem;
}

#searchInput {
    padding-left: 3.125rem;
    width: 250%;
}

/* pillbox search bar*/

h1,
h2,
h3 {
    font-weight: 400;
    margin: 0;
    color: var(--main-highlight-color);
}

body {
    margin-bottom: 3.75rem;
    background: #181818;
    font-family: 'Lato', Arial, sans-serif;
    color: var(--main-font-color);

}

body a {
    color: var(--main-font-color);
}

body a:hover {
    color: var(--main-highlight-color);
}

.btn-link {
    color: var(--main-font-color);
}

.btn-link:hover {
    color: var(--main-highlight-color);
}

.btn-primary {
    background-color: var(--spotify);
    border-color: var(--spotify);
}

.btn-primary:focus {
    background-color: var(--spotify);
    border-color: var(--spotify);
    box-shadow: none;
}

.btn-primary:hover {
    background-color: var(--spotify-highlight);
    border-color: var(--spotify-highlight);
}

.nav-link {
    color: var(--main-font-color);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--main-highlight-color);
}

.nav-link.active {
    background-color: var(--spotify) !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: var(--spotify);

}

.form-floating .form-label {
    color: var(--main-bg-color-dark);
}

.form-floating {
    margin: 0.3rem;
}


.btn-lg {
    margin: 0.3rem;
}

.header {
    background: #282828;
    padding: 10px;
    color: var(--main-font-color);
    border-bottom: 1px solid #181818;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.header .page-flows .flow {
    font-size: 20px;
    color: var(--main-font-color);
    margin: 0 10px;
}

.header .page-flows .flow:hover {
    color: var(--main-highlight-color);
}

.header .page-flows .flow .disabled {
    color: #5e5e5e;
}

.header .search {
    margin-left: 1%;
}

.header .search input {
    border-radius: 15px;
    border: none;
    background: #fff;
    color: #181818;
    padding-left: 30px;
    outline: none;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/ios-search.svg);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 5px;
}

.header .user {
    width: 300px;
    margin-left: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.header .user i {
    font-size: 20px;
}

.header .user i:hover {
    color: #fff;
    cursor: pointer;
}

.header .user__info img {
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    display: inline-block;
}

.header .user__actions button {
    background: none;
    border: none;
}

.header .user__actions .dropdown-menu {
    background: #282828;
    margin-top: 25px;
    border-radius: 2px;
    padding: 0;
    border: none;
}

.header .user__actions .dropdown-menu:before {
    font-family: "Ionicons";
    content: "\f365";
    position: absolute;
    top: -30px;
    right: 7px;
    color: #282828;
    font-size: 36px;
}

.header .user__actions .dropdown-menu a {
    color: var(--main-font-color);
    transition: all 0.2s ease;
}

.header .user__actions .dropdown-menu a:hover {
    background: none;
    transition: all 0.2s ease;
}

.header .user__actions .dropdown-menu li {
    padding: 10px;
    margin: 0;
    transition: all 0.2s ease;
}

.header .user__actions .dropdown-menu li:hover {
    background: #aaa;
    transition: all 0.2s ease;
}

.header .user__actions .dropdown-menu li:hover a {
    color: #c8c8c8;
    transition: all 0.2s ease;
}


.search-tag-detail {
    display: flex;
    flex-direction: row;
    padding: 3px;
    background-color: #d9edf7;
    border-radius: 3px;
}

.search-tag {
    display: flex;
    margin: 2px 2px 2px 0px;
}

.tag-results {
    display: flex;
    flex-direction: row;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-style: none;
}

.table {
    color: var(--main-font-color);
}